.skeleton {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.04)
  );
  border-radius: 8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  content: '';
  position: absolute;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.03),
    transparent
  );
  animation: shimmer 1.2s infinite;
}
.circle {
  border-radius: 50%;
}
@keyframes shimmer {
  100% {
    left: 100%;
  }
}
